/* styles.css */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('fondo.jpg');
    background-size: cover;
    margin: 0;
}

#game-container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

#pigs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.pig {
    width: 100px;
    height: 100px;
    background-size: cover;
    cursor: pointer;
}
